	<!DOCTYPE html>

<head>

   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>

<body>
    </br>
    </br>
    <h2 style="text-align:center;">Historia de triaje </h2>
    </br>
    </br>
    <i>paciente:&nbsp;&nbsp;                  {{Historiadetriaje.paciente}}</i></br>
    <i>medico triaje:&nbsp;&nbsp;             {{Historiadetriaje.medico_triaje}}</i></br>
    </br>
    </br>
    <i>antecedentes personales:&nbsp;&nbsp;   {{Historiadetriaje.antecedentes_personales}}</i></br></br>
    <i>antecedentes familiares:&nbsp;&nbsp;   {{Historiadetriaje.antecedentes_familiares}}</i></br></br>
    <i>motivo consulta:&nbsp;&nbsp;           {{Historiadetriaje.motivo_consulta}}</i></br></br>
    <i>enfermedad actual:&nbsp;&nbsp;  	      {{Historiadetriaje.enfermedad_actual}}</i></br></br>
    <i>peso:&nbsp;&nbsp;  		      {{Historiadetriaje.peso}}</i></br></br>
    <i>talla:&nbsp;&nbsp;  		      {{Historiadetriaje.talla}}</i></br></br>
    <i>signos vitales:&nbsp;&nbsp;  	      {{Historiadetriaje.signos_vitales}}</i></br></br>
    <i>piel:&nbsp;&nbsp; 		      {{Historiadetriaje.piel}}</i></br></br>
    <i>ojos:&nbsp;&nbsp;  		      {{Historiadetriaje.ojos}}</i></br></br>
    <i>fosas nasales:&nbsp;&nbsp;	      {{Historiadetriaje.fosas_nasales}}</i></br></br>
    <i>conductos auditivos:&nbsp;&nbsp;       {{Historiadetriaje.conductos_auditivos}}</i></br></br>
    <i>cavidad oral:&nbsp;&nbsp; 	      {{Historiadetriaje.cavidad_oral}}</i></br></br>
    <i>cuello:&nbsp;&nbsp; 		      {{Historiadetriaje.cuello}}</i></br></br>
    <i>columna:&nbsp;&nbsp; 		      {{Historiadetriaje.columna}}</i></br></br>
    <i>torax:&nbsp;&nbsp; 	              {{Historiadetriaje.torax}}</i></br></br>
    <i>abdomen:&nbsp;&nbsp;		      {{Historiadetriaje.abdomen}}</i></br></br>
    <i>extremidades:&nbsp;&nbsp; 	      {{Historiadetriaje.extremidades}}</i></br></br>
    <i>genitales:&nbsp;&nbsp;		      {{Historiadetriaje.genitales}}</i></br></br>
   
</body>

