	<!DOCTYPE html>

<head>

   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>

<body>
    </br>
    </br>
    <h2 style="text-align:center;">Historia de triaje </h2>
    </br>
    </br>
    <h3 style="text-align:right;">Fecha:&nbsp;&nbsp;  {{Historiadetriaje.fecha|date:"d M Y"}}</h3></br>
    <i><b>Paciente:</b>&nbsp;&nbsp;                  {{Historiadetriaje.paciente}}</i></br>
    <i><b>Medico triaje:</b>&nbsp;&nbsp;             {{Historiadetriaje.medico_triaje}}</i></br>
    </br>
    </br>
    <TABLE BORDER=1 WIDTH=1000><TD>
    <i><b>antecedentes personales:</b>&nbsp;&nbsp;   {{Historiadetriaje.antecedentes_personales}}</i></br></br>
    <i><b>antecedentes familiares:</b>&nbsp;&nbsp;   {{Historiadetriaje.antecedentes_familiares}}</i></br></br>
    <i><b>motivo consulta:</b>&nbsp;&nbsp;           {{Historiadetriaje.motivo_consulta}}</i></br></br>
    <i><b>enfermedad actual:</b>&nbsp;&nbsp;  	      {{Historiadetriaje.enfermedad_actual}}</i></br></br>
    <i><b>peso:</b>&nbsp;&nbsp;  		      {{Historiadetriaje.peso}}</i></br></br>
    <i><b>talla:</b>&nbsp;&nbsp;  		      {{Historiadetriaje.talla}}</i></br></br>
    <i><b>signos vitales:</b>&nbsp;&nbsp;  	      {{Historiadetriaje.signos_vitales}}</i></br></br>
    <i><b>piel:</b>&nbsp;&nbsp; 		      {{Historiadetriaje.piel}}</i></br></br>
    <i><b>ojos:</b>&nbsp;&nbsp;  		      {{Historiadetriaje.ojos}}</i></br></br>
    <i><b>fosas nasales:</b>&nbsp;&nbsp;	      {{Historiadetriaje.fosas_nasales}}</i></br></br>
    <i><b>conductos auditivos:</b>&nbsp;&nbsp;       {{Historiadetriaje.conductos_auditivos}}</i></br></br>
    <i><b>cavidad oral:</b>&nbsp;&nbsp; 	      {{Historiadetriaje.cavidad_oral}}</i></br></br>
    <i><b>cuello:</b>&nbsp;&nbsp; 		      {{Historiadetriaje.cuello}}</i></br></br>
    <i><b>columna:</b>&nbsp;&nbsp; 		      {{Historiadetriaje.columna}}</i></br></br>
    <i><b>torax:</b>&nbsp;&nbsp; 	              {{Historiadetriaje.torax}}</i></br></br>
    <i><b>abdomen:</b>&nbsp;&nbsp;		      {{Historiadetriaje.abdomen}}</i></br></br>
    <i><b>extremidades:</b>&nbsp;&nbsp; 	      {{Historiadetriaje.extremidades}}</i></br></br>
    <i><b>genitales:</b>&nbsp;&nbsp;		      {{Historiadetriaje.genitales}}</i></br></br>
    </TD></TABLE>
</body>

